.nav_container{
    background-color: var(--color_background);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
    height: 90px;
    width: 100%;
}

.logo_container{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;

    .logo{
        height: 80%;
    }
    .name_p1, .name_p2{
        font-size: 40px;
        font-weight: bold;
    }
    .name_p1{
        color: white;
    }
    .name_p2{
        color: var(--color_foreground);
    }
}

.buttons_container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    .btn{
        text-decoration: none;
        color: var(--color_indirect_text);
        font-size: var(--subtitle_size);
        font-weight: var(--subtitle_weight);
    }
    .btn:hover{
        color: var(--color_white_font);
        scale: 1.2;
    }
}

.login_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    .register_btn, .login_btn{
        border: 1px solid #000;
        border-radius: 12px;
        height: 100%;
        padding: 10px 20px;
        font-weight: var(--subtitle_weight);
        font-size: var(--subtitle_size);
    }
    .login_btn{
        background-color: var(--color_background);
        color: var(--color_white_font);
    }
    .login_btn:hover{
        background-color: var(--color_foreground);
        color: var(--color_dark_font)
    }
    .login_btn:active{
        background-color: var(--color_foreground_focus);
        color: var(--color_dark_font)
    }

    .register_btn{
        background-color: var(--color_foreground);
        color: var(--color_dark_font);
    }
    .register_btn:active{
        background-color: var(--color_foreground_focus);
    }
}